@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');

body {
    background-color:lightskyblue;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}

h3 {
    font-family: 'Sedgwick Ave', cursive;
    font-size: 40px;
}

#carouselExampleIndicators {
    width: 100%;
    margin: auto;
}

.badge {
    width: 7rem;
    padding: 10px;
    margin: 15px;
}

.btn {
    font-weight: bold;
}

#sfondo-footer {
    color: #f8b218;
    font-weight: bold;
}

#titolo {
    color: #f8b218;
}

input, .reg-stile {
    width: 30%;
    padding: .375rem .75rem;
    margin: .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
