@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');

html, body {
    height: 100%;
}

body {
    background-color:lightskyblue;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

#app {
    flex: 1 0 auto;
}

#footer {
    flex-shrink: 0;
}

h3 {
    font-family: 'Sedgwick Ave', cursive;
    font-size: 40px;
}

#carouselExampleIndicators {
    width: 100%;
    margin: auto;
}

.badge {
    width: 7rem;
    padding: 10px;
    margin: 15px;
}

.btn {
    font-weight: bold;
}

#sfondo-footer {
    color: #f8b218;
    font-weight: bold;
}

#titolo {
    color: #f8b218;
}

input, .reg-stile {
    width: 30%;
    padding: .375rem .75rem;
    margin: .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

#corpo {
    margin: 15rem 0rem;
}

#alertcarrello {
    width: 50%;
}